
/*margin top, right, bottom, left */
p {
  margin: 20px 0px 25px 0px;
}


/* text color black, opacity 60% */

body {
    color: rgba(0, 0, 0, 0.7);
  }

  
 

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }


/*remove bullets from menu list*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width; 25%;
    background-color: #white;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
 


 /* body font Helvetica */

  body {
    font-family: "Arial", Helvetica, sans-serif;
  }

/* Font size */

  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 12px;
  }

  h5 {
    font-size: 30px;
  }

  h6 {
    font-size: 30px;
  }
  
  p {
    font-size: 10px;
  }

  ul {
    font-size: 10px;
  }

  /*responsive p text */
    @media only screen and (max-width: 600px) {
    p {
      font-size: 12px;
    }
  }

  /* responsive nav menu */
    @media only screen and (max-width: 600px) {
    ul {
      font-size: 12px;
    }
  }

  /* used for responsive images */
    @media only screen and (max-width: 600px) {
    .responsive {
      width: 100%;
      height: auto;
    }
  }
  
